body{
    background-image: url(/Images/hand-washing.jpg);
    background-size: cover;
}

h1{
    text-align: center;
    padding-top: 2%;
    color: #23A6F0;
    font-size: 3.5em;
    font-weight: bolder;
}

h2{
    text-align: center;
    padding-top: 2.5%;
    color: #23A6F0;
}

#first{
    text-align: center;
    padding-top: 20px;
    font-weight: bolder;
}

#second{
    font-weight: bolder;
    text-align: center;
    padding-top: 20px;
}


.goals{
    display: flex;
    flex-wrap: row;
    justify-content: space-evenly;
}

h3{
    font-size: 2.2em;
    color: #23A6F0;
    font-weight: bolder;
    text-align: center;
}

#values>p{
    font-weight: bolder;
    font-size: 1.6em;
    letter-spacing: 1px;
}

#mission>p{
    font-size: 1.6em;
    letter-spacing: 1px;
    font-weight: bold;
}

#vision>p{
    font-size: 1.6em;
    letter-spacing: 1px;
    font-weight: bold;
}





























/* .one{
    height: 300px;
    width: 400px;
    padding: 10px;
}
.two{
    height: 300px;
    width: 400px;
    padding: 10px;
}
.three{
    height:300px;
    width: 400px;
    padding: 10px;
}
.page{
    font-size:x-large
}
.content{
    background-color: lightgrey;          
}
.btn{
    background-color: aqua;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: aqua;
    display: inline-block;
    font-size: 15px;
    border-radius: 90px;
    flex-direction: column;
}
.btn:hover{
     background-color: white;
     color: red;
}
.title{
     color: purple;
     font-size: x-large;
}
span1{
     color: red;
}
span2{
    color: green;
}
span3{
    color: yellow;
}
span4{
    color: black;
}


    */