*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    max-width: 2000px;

}



.container3{
    position: absolute;
    background-color: #bbb;
    width: 100%;
    height:130vh;
    top: 0;
    left: 0;

}
h1{
    position: relative;
    left: 700px;
    font-size: 40px;
}
#p1{
    position: relative;
    left: 600px;
    font-style: italic;
    color: #23A6F0;
    font-size: 30px;

}
.inservice img{
    height: 350px;
    width: 550px;
    position: relative;
    left: 20px;
    margin: 10px;
}
.service{
    display:flex;

}
.door img{
    height: 350px;
    width: 550px;
    position: relative;
    left: 20px;
    margin-top: 10px;
}
h3{
    position: relative;
    left: 200px;
}

.inservice{
    background:#c4c4c4; 
    box-shadow:100px;
    height: 600px;
    box-shadow: 10px;
    position: relative;
    left: 100px;
    width: 650px;
    

}
.door{
    background:#c4c4c4;
    height: 600px;
    box-shadow: 100px;
    position: relative;
    left: 100px;
    width: 650px;
    
    

}
#bt1{
    padding: 10px;
    border:1px solid;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    background-color:blue;
    position: relative; 
    left: 200px;
    top: 40px;
    border-style:none ;

}

.reviews{
    padding-top:10px;
    display: flex;
    background-color: whitesmoke;
    height: 300px;
    width: 1400px;
    align-items: center; 
    position:relative;
    left: 250px;
    margin-top: 60px; 
   
}
.rv2{
    position: relative;
    left: 550px;
    font-size: 20px;

}
.rv1{
    margin-left: 30px;
    font-size: 20px;
}
.door{
    position: relative;
    left:300px;
}
.fas{
    color: orange;
    width: 100px;
    height: 20%;
}
.checked{
    color: goldenrod;
}
.check{
    color: gray;
}
.wash{
    position: relative;
    left: 300px;
    height: 400px;
    width: 300px;
    margin-top: 200px;
    
    
}
.service :hover{
    color:blue;
}


