.one{
      height: 30%;
      width: 30%;
      padding: 10px;
}
.two{
       height: 30%;
       width: 30%;
       padding: 10px;
}
.three{
      height: 30%;
      width: 30%;
      padding: 10px;
}      